* text=auto eol=lf

*.py text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sha256 text eol=lf

*.tar binary
*.tar.gz binary
*.tgz binary
*.zip binary
